<html>
    <head>
        <title>Jaxen's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Jaxen's Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>published: 2/24/2018</p>
            <p>This is my first django project I created it is awesome!!!!</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>published: 2/24/2018 </p>
            <p>This is another post, I just want to say this is awesome.......</p>
        </div>
    </body>
</html>